body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #151515;
}

h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.1);
}

h3 {
  font-size: 1.5em;
  color: white;
}

p {
  color: #a6a6a6;
  line-height: 1.5em;
}

ul {
  color: #a6a6a6;
  line-height: 1.5em;
}

.navbar {
  background-color: #151515;
  color: white;
  padding: 2.5vh 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-bottom: 0.5px solid #717171;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

#logo {
  height: 5vh;
  width: auto;
}

#right {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
#pagetitle {
  text-align: center;
}
.chartsection {
  margin: 0px 0px 10% 0px;
}
#containerWalk {
  position: relative;
  top: -30px;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.glowbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  border: 0.5px solid white;
  border-radius: 3rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.glowbutton:hover {
  box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.6);
}
.tablecontainer {
  display: flex;
  gap: 3%;
}
.visualizationcontainer {
  display: flex;
  gap: 1%
}
#datatables {
    padding: 10vh 5vw;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
  padding: 12px 8px;
  text-align: left;
  border: 1px solid #444444;
  font-size: 1rem;
}

table th {
  background-color: #222222;
  font-weight: bold;
  text-transform: uppercase;
}

table td {
  background-color: #1c1c1c;
}

table caption {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 10px;
}

table thead {
  border-bottom: 2px solid #717171;
}
.title {
  margin-top: 10vh;
}
.chart-container {
  width: 45vw;
  height: 400px;
  margin: 0 auto 20px auto;
  border-radius: 8px;
  border: 0.5px solid white;
  box-sizing: border-box;
}
.charttitle {
  width: 600px;
  margin: 2%;
}
.chartdescription {
  position: relative;
  top: -25px;
  color: white;
  font-size: 1.2em;
  margin-bottom: 3%;
}
.dstep {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.datatitles {
  font-weight: normal;
  font-size: 1.2em;
}
.redditcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.muskcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

